@use "../../styles/typography" as *;
  .navContainer{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .navbar{
    position: sticky;
    width: 100wv;
    height: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
  }
  .navItem{
    color: rgb(79, 174, 174);
    text-decoration: none;
    padding-right: 1rem;
    &.active{
      color:aqua;
    }
    &:hover{
      color:rgb(70, 112, 112);
    }
  }
  .burger{
    display: none;
  }

@media screen and (max-width: 720px){
  .navbar{
    display: none;
  }
  .navbar-mobile{
    position: absolute;
    z-index: 11;
    top: 64px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 1s ease-in-out;
    background-color: rgba(23, 37, 84, 0.8);;
    .navItem{
      padding: 0.5rem 1.1rem 0.5rem 0.5rem;
    }

  }
  .burger{
    position: sticky;
    top: 1rem;
    left: 80%;
    z-index: 5;
    display: block;
    width: 4rem;
    height: 2rem;
    border: 1px solid rgb(79, 174, 174);
    border-radius: 2rem;
    color: rgb(79, 174, 174);
    background: transparent;
    &:hover{
       color:rgb(70, 112, 112);
       border-color: rgb(70,112,112);
       cursor: pointer;
    }
  }
};
  
 
