@use "../../styles/typography" as *;
body {
  padding-top: 87px;
}
#navbar {
  display: none;
}
#navbar-mobile {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-900);
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 6;
  .nav-filter {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: max-content;
    width: 100vw;
    background-color: var(--cyan-500);
    opacity: 0.8;
  }
  nav {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--grey-800);
    .logo {
      cursor: pointer;
      img {
        height: 40px;
      }
    }
    .burger {
      color: var(--cyan-400);
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0 1rem 0 0;
      font-size: 1.8rem;
      &:hover{
        color: var(--cyan-200);
      }
      cursor: pointer;
    }
  }
  .items {
    z-index: 6;
    position: absolute;
    top:4.5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
    padding: 1rem;
    background: rgba(23, 37, 84,0.6);
    button {
      background-color: transparent;
      color: var(--cyan-300);
      border: none;
      font-size: 1rem;
      font-weight: 400;
      padding: 8px 14px;
      gap: 8px;
      &:hover{
        color: var(--cyan-100);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #navbar-mobile {
    display: none;
  }

  #navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-900);
    padding: 12px 32px;
    top: 0;
    width: 100vw;
    gap: clamp(1rem, 2rem, 2rem);

    z-index: 5;

    .logo {
      cursor: pointer;
      img {
        height: 60px;
      }
    }
    .items {
      display: flex;
      gap: clamp(1rem, 1.5rem, 1.5rem);
      button {
        height: 2rem;
        color: var(--cyan-400);
        border: none;
        background: transparent;
        font-size: 0.92rem;
        font-weight: 600;
        &:hover{
          color: var(--cyan-200);

        }
      }
    }
  }
}
