@use "../../styles/colors" as *;
@use "../../styles/shadows" as *;
.useraccount{
  position: absolute;
  top: 16%;
  left: 32%;
  width: 480px;
  border-radius: 8px;
  background: var(--blue-950);
  @include shadow("md");
  .header{
    height: 3rem;
    background: var(--blue-900);
    border-radius: 8px 8px 0 0;
    h1{
      color: var(--cyan-100);
      padding: 1rem 0 0 1rem;
    }
    i{
      color: var(--green-400);
      position: absolute;
      top: 16px;
      right: 16px;
      &:hover{
        color: var(--green-200);
        cursor: pointer;
      }
    }
  }
  
  .account {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    gap: 1rem;
    .input-line {
      margin-top: 1rem;
    }
    .input-field{
      background-color: transparent;
      label{
        color: var(--cyan-200);
      }
    }
    .btn{
      width: 100%;
      margin-top: 1rem;
      height: 2rem;
      border-radius: 8px;
      border: 1px solid var(--cyan-600);
      background: transparent;
      color: var(--cyan-500);
      &:hover{
        border: 1px solid var(--cyan-400);
        color: var(--cyan-300);
        cursor: pointer;
      }
    }
  }
}
