@use "../../styles/colors" as *;
header{
  h1{
    color: var(--cyan-100);
  }
  i{
    color: var(--green-400);
    position: absolute;
    right: 16px;
    &:hover{
      color: var(--green-200);
      cursor: pointer;
    }
  }
}
.user-account {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  .input-line {
    margin-top: 1rem;
  }
  .input-field{
    background-color: transparent;
    label{
      color: var(--cyan-200);
    }
  }
  .btn{
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 8px;
    border: 1px solid var(--cyan-600);
    background: transparent;
    color: var(--cyan-500);
    &:hover{
      border: 1px solid var(--cyan-400);
      color: var(--cyan-300);
      cursor: pointer;
    }
  }
}
