@use "../../styles/variables" as *;


.home{
  width: 100%;
  height: 100vh;

  h1{
    font-size: 2rem;
    color: $cyan200;
    padding-top: 2rem;
    text-align: center;
  }
  ul, li{
    color: $cyan50;
  }
  ul{
    margin-bottom: 1rem;
  }
}

