@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;

.home{
  width: 100%;
  height: 100vh;

  h1{
    font-size: 2rem;
    color: var(--cyan-200);
    padding-top: 2rem;
    text-align: center;
  }
}

