@use "../../styles/colors" as *;
.label-check{
  color: var(--cyan-50);
  display: flex;
  &.null{
    color: var(--red-500);
    font-weight: 600;
    animation-name: varie;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    @keyframes varie {
      0%{color: var(--red-500)}
      40%{color: var(--red-400)}
      80%{color: var(--red-100)}
      
    }
  }
  input{
    width: 32px;
  
  }
  
}


