 #navbarfirst {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-900);
    padding: 12px 32px;
    top: 0;
    width: 100vw;
    gap: clamp(1rem, 2rem, 2rem);
    z-index: 5;
    .logo {
      cursor: pointer;
      img {
        height: 60px;
      }
    }
    .items {
      display: flex;
      gap: clamp(1rem, 1.5rem, 1.5rem);
      button {
        width: 4rem;
        height: 4rem;
        color: var(--cyan-500);
        border: none;
        background: transparent;
        border: 2px double var(--cyan-500);
        border-radius: 50%;
        font-size: 0.92rem;
        font-weight: 600;
        &:hover{
          color: var(--green-200);
          border-color: var(--green-200);
          cursor: pointer;
        }
        i{
          font-size: 2rem;
        }
      }
    }
  }

