.connection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input::-ms-reveal {
      display: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-background-clip: text;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px var(--white);
    }

    .hide-or-show-button {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      i:before {
        line-height: unset;
        display: inline-block;
        vertical-align: middle;
        color: var(--grey-50);
      }
    }

  }
  .connection-button {
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--cyan-600);
    color: var(--cyan-600);
    background: transparent;
    &:hover{
      border: 1px solid var(--cyan-200);
      color: var(--cyan-200);
      cursor: pointer;
    }
    
  }
  .fail-auth-modal {
    color: var(--error-600);
  }
}
