@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
.faq{
  height: 100vh;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .question {
      @include text("lg", $weight: 500);
    }
    .answer {
      @include text("md");
      color: var(--cyan-50);
    }
  }
}
