@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/colors" as *;
.faq{
  
  main{
    height: max-content;
    overflow: visible;
    .btn-newfaq{
      position: fixed;
      right: 25px;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 8px;
      border: none;
      background-color: var(--green-700);
      color: var(--cyan-50);
      opacity: 0.6;
      font-size: 1.6rem;
      font-weight: 500;
      padding-bottom: 1.75rem;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include shadow("lg");
    margin: 0 auto;
    padding: 4rem 0;
    i{
      position: absolute;
      right: 60px;
      font-size: 1.2rem;
      color: var(--red-400);
      &:hover{
        color: var(--red-200);
        cursor: pointer;
      }
    }
    .question {
      @include text("lg", $weight: 500);
      color: var(--cyan-100);
    }
    .answer {
      @include text("md");
      color: var(--cyan-200);
      font-size: 0.8rem;
    }
  }
}
