@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
.faq{
  
  overflow-y: scroll;
  main{
    overflow: visible;
  }
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .question {
      @include text("lg", $weight: 500);
      color: var(--cyan-100);
    }
    .answer {
      @include text("md");
      color: var(--cyan-200);
      font-size: 0.8rem;
    }
  }
}
