@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/variables" as *;
.faq{
  position: relative;
  main{
    height: 100%;
    overflow: visible;
    .btn-newfaq{
      position: fixed;
      top: 96px;
      right: 25px;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 8px;
      border: none;
      background-color: $green700;
      color: $cyan50;
      opacity: 0.6;
      font-size: 1.6rem;
      font-weight: 500;
      // padding-bottom: 1.75rem;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include shadow("lg");
    margin: 0 auto;
    padding: 4rem 0;
    i{
      position: absolute;
      right: 60px;
      font-size: 1.2rem;
      color: $red400;
      &:hover{
        color: $red200;
        cursor: pointer;
      }
    }
    .liste{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .question {
      @include text("lg", $weight: 500);
      color: $cyan100;
    }
    .answer {
      @include text("md");
      color: $cyan200;
      font-size: 0.8rem;
    }
  }
}
