@use "../../styles/typography" as *;
@use "../../styles/button" as *;

.manage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  min-height: 100dvh;
  margin-inline: 1%;
  table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--red-600);
    border-radius: 0.5rem;
    overflow: hidden;
    tbody {
      display: flex;
      flex-direction: column;
      tr {
        display: grid;
        padding: 1rem 0.5rem;
        grid-template-columns: repeat(6, 1fr);
        text-align: left;
        align-items: center;
        border-bottom: 1px solid var(--violet-500);
        color: var(--cyan-100);
        @include text("sm");
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(odd) {
          background-color: var(--blue-900);
        }
        td{
          color: var(--cyan-100);
          font-size: 0.8rem;
        }
        td.actions {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
}
