@use "../../styles/colors" as *;
.manage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  min-height: 100dvh;
  margin-inline: 1%;
  margin-top: 1rem;
  header{
    display: flex;
    h1{
      color: var(--cyan-100);
    }
    .newuser{
      position: absolute;
      top: 6rem;
      right: 16px;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 8px;
      border: none;
      background-color: var(--green-700);
      color: var(--cyan-50);
      opacity: 0.6;
      font-size: 1.6rem;
      font-weight: 500;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  ul{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--cyan-300);
    li{
      min-width: 300px;
      color: var(--cyan-100);
      padding-left: 1rem;
      .fi{
        background: transparent;
      }
    }
    .actions {
      display: flex;
      gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .manage{
    ul{
      flex-direction: column;
    }
  }
  }

  

    
  

